.container
  .row
    .col-md-12
      %h2 Envie seu curriculum
      %div{:align => "center"}
        %h3 Preencha todos os campos
        .col-md-6.col-md-offset-3
          .row
            = simple_form_for @curriculum, :html => {:class => 'form-horizontal' } do |f|
              .col-md-12
                = f.input :name, :label => 'Nome', :required => true
              .col-md-12
                = f.input :email,:label => 'Seu Email', :required => true
              .col-md-12
                = f.input :message,:label => 'Mensagem', :as => :text, :required => true
                = f.input :file,:label => 'Anexar Currículo', :as => :file, :required => true
              .hidden
                = f.input :nickname, :hint => 'Leave this field blank!'
              %div
                = f.button :submit, 'Enviar', :class=> "btn btn-primary"
              %br
