= simple_form_for(@office) do |f|
  = f.error_notification

  .row
    .col-md-12
      = f.input :name
  .row
    .col-md-2
      = f.input :cep
    .col-md-4
      = f.association :responsible, prompt: 'selecione o responsável...'
    .col-md-2
      = f.input :geolocation, input_html: { placeholder: 'x,y'}
    .col-md-2
      = f.input :city
    .col-md-2
      = f.input :state
  .row
    .col-md-2
      = f.input :telphone
    .col-md-2
      = f.input :telphone_optional
    .col-md-2
      = f.input :email
    .col-md-2
      = f.input :email_optional
    .col-md-4
      = f.association :project, prompt: 'selecione o projeto...'
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
