.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Escritórios
        = link_to 'Novo escritório', new_office_path, class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.general-table.datatable
          %thead
            %tr
              %th.col-md-2
                Nome
              %th.col-md-2
                Cidade/Estado
              %th.col-md-2
                Telefone
              %th.col-md-2
                Email
              %th.col-md-2
                Ações
          %tbody
            %tr
              - @offices.each do |office|

                %td.col-md-3
                  =office.name
                %td.col-md-3
                  = "#{office.city}/#{office.state}"
                %td.col-md-2
                  =office.telphone
                %td.col-md-2
                  =office.email
                %td.col-md-3
                  = link_to 'Editar', edit_office_path(office), class: 'btn btn-info btn-xs'
                  = link_to 'Remover', office, :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-xs'