= simple_form_for([@project, @fuel_expense]) do |f|
  = f.error_notification

  .row
    .col-md-4
      = f.association :vehicle, prompt: 'selecione...'
    .col-md-4
      = f.association :supplier, collection: Supplier.fuel, prompt: 'selecione...'
    .col-md-2
      = f.input :km_start
    .col-md-2
      = f.input :km_end
  .row
    .col-md-2
      = f.input :fuel_price_lt
    .col-md-2
      = f.input :fuel_lt
    .col-md-2
      = f.input :date, as: 'string', input_html: { class: 'date', value: (f.object.date.present?) ? localize(f.object.date) : nil }
    .col-md-2
      = f.input :status, as: 'select', prompt: 'selecione...'
    .col-md-2
      = f.input :note, as: 'file'
  .row
    .col-md-6
      = f.input :observations
      
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
