.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Filtro
      .panel-body
        .row
          .col-md-12
            = simple_form_for :search, url: project_fuel_expenses_path, :method => 'get' do |f|
              .col-md-2
                = f.label "Data inicial"
                = f.input :start_date, label:false, as: :string, input_html: { class: 'date', value: params[:search].present? ? params[:search][:start_date] : @begin_month.strftime('%d/%m/%Y')}
              .col-md-2
                = f.label "Data final"
                = f.input :end_date, label:false, as: :string, input_html: { class: 'date', value: params[:search].present? ? params[:search][:end_date] : @end_month.strftime('%d/%m/%Y')}
              .col-md-2{style: 'margin-top: 23px'}
                = f.submit "Filtrar Resultados", class: 'btn btn-success btn-sm'
.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Gastos com combustível
        = link_to 'Novo gasto', new_project_fuel_expense_path(@project), class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.general-table.datatable
          %thead
            %tr
              %th Veículo
              %th Posto
              %th Km Início/Fim
              %th Km Total
              %th Preço Lt
              %th Total abastecido
              %th Média
              %th Data
              %th Total
              %th Ações
          %tbody
            - @fuel_expenses.each do |fuel_expense|
              %tr

                %td.col-md-2
                  = fuel_expense.vehicle.name if fuel_expense.vehicle.present?
                %td.col-md-2
                  = fuel_expense.supplier.name if fuel_expense.supplier.present?
                %td.col-md-1
                  .span.label.label-info
                    = "#{fuel_expense.km_start} km - #{fuel_expense.km_end} km" 
                %td.col-md-1
                  .span.label.label-info
                    = "#{fuel_expense.km_end - fuel_expense.km_start} km"
                %td.col-md-1
                  .span.label.label-info
                    = number_to_currency(fuel_expense.fuel_price_lt)
                %td.col-md-1
                  .span.label.label-info
                    = "#{fuel_expense.fuel_lt} lt"
                %td.col-md-1
                  .span.label.label-warning
                    = "#{((fuel_expense.km_end - fuel_expense.km_start) / fuel_expense.fuel_lt).round(2)} km"
                %td.col-md-1
                  = fuel_expense.date.strftime("%d/%m/%Y")
                %td.col-md-1
                  .span.label.label-success
                    = number_to_currency(fuel_expense.fuel_lt * fuel_expense.fuel_price_lt)
                %td.col-md-3
                  = link_to '', edit_project_fuel_expense_path(project_id: @project, id: fuel_expense), class: 'btn btn-info btn-sm fa-edit fa'
                  = link_to '', project_fuel_expense_path(project_id: @project, id: fuel_expense), :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-sm fa fa-times'