
.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Gastos com combustível
        = link_to 'Novo gasto', new_project_fuel_expense_path(@project), class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.general-table.datatable
          %thead
            %tr
              %th Veículo
              %th Posto
              %th Km Início/Fim
              %th Km Total
              %th Preço Lt
              %th Total abastecido
              %th Média
              %th Data
              %th Total
              %th Ações
          %tbody
            %tr
              - @fuel_expenses.each do |fuel_expense|

                %td.col-md-2
                  = fuel_expense.vehicle.name if fuel_expense.vehicle.present?
                %td.col-md-2
                  = fuel_expense.supplier.name if fuel_expense.supplier.present?
                %td.col-md-1
                  .span.label.label-info
                    = "#{fuel_expense.km_start} km - #{fuel_expense.km_end} km" 
                %td.col-md-1
                  .span.label.label-info
                    = "#{fuel_expense.km_end - fuel_expense.km_start} km"
                %td.col-md-1
                  .span.label.label-info
                    = number_to_currency(fuel_expense.fuel_price_lt)
                %td.col-md-1
                  .span.label.label-info
                    = "#{fuel_expense.fuel_lt} lt"
                %td.col-md-1
                  .span.label.label-warning
                    = "#{((fuel_expense.km_end - fuel_expense.km_start) / fuel_expense.fuel_lt).round(2)} km"
                %td.col-md-1
                  = fuel_expense.date.strftime("%d/%m/%Y")
                %td.col-md-1
                  .span.label.label-success
                    = number_to_currency(fuel_expense.fuel_lt * fuel_expense.fuel_price_lt)
                %td.col-md-3
                  = link_to '', edit_project_fuel_expense_path(project_id: @project, id: fuel_expense), class: 'btn btn-info btn-sm fa-edit fa'
                  = link_to '', project_fuel_expense_path(project_id: @project, id: fuel_expense), :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-sm fa fa-times'