= simple_form_for(@job) do |f|
  = f.error_notification

  .row
    .col-md-6
      = f.input :name
    .col-md-4
      = f.input :description
    .col-md-2
      = f.input :salary, as: :string, input_html: { class: 'coin_mask'}
  .row
    .col-md-2
      = f.input :status, as: :select, include_blank: false
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
