= simple_form_for(@sector) do |f|
  = f.error_notification

  .row
    .col-md-12
      = f.input :name
  .row
    .col-md-12
      = f.input :description
  .row
    .col-md-2
      = f.input :acron
    .col-md-4
      = f.association :responsible, prompt: 'selecione o responsável...'
    .col-md-4
      = f.input :status, as: :select, include_blank: false
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
