.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Setor
        = link_to 'Novo Setor', new_sector_path, class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.general-table.datatable
          %thead
            %tr
              %th Nome
              %th Descrição
              %th Sigla
              %th Responsável
              %th Status
              %th Ações
          %tbody
            - @sectors.each do |sector|
              %tr
                %td= sector.name
                %td= sector.description
                %td= sector.acron
                %td= sector.responsible.name if sector.responsible.present?
                %td= status_helper sector.status
                %td.col-md-2
                  = link_to 'Editar', edit_sector_path(sector), class: 'btn btn-info btn-xs'
                  = link_to 'Remover', sector, :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-xs'