.row.item_form
  .col-md-2
    = f.input :type_product, collection: BillProduct.type_products.keys.to_a, prompt: 'selecione...'
  .col-md-2
    = f.input :title
  .col-md-3
    = f.input :description
  .col-md-1
    = f.input :quantity
  .col-md-2
    = f.input :value
  .col-md-2
    = f.hidden_field :_destroy
    = link_to "remove", '#', class: "remove_fields btn btn-danger btn-sm", style: " margin-top: 25px;" 
