= simple_form_for([@project, @bill]) do |f|
  = f.error_notification

  .row
    .col-md-12
      = f.input :name
  .row
    .col-md-2
      = f.input :bill_type, as: 'select', collection: Bill.bill_types.keys.to_a, prompt: 'selecione...'
    .col-md-4
      = f.association :bill_category, prompt: 'selecione...'
    .col-md-2
      = f.input :deadline, as: 'string', input_html: { class: 'date', :value => (@bill.deadline.nil?) ? nil : localize(f.object.deadline) }
    .col-md-2
      = f.input :value
  .row
    .col-md-6
      = f.input :description
    .col-md-6
      = f.input :observation
  .row
    .col-md-4
      = f.association :supplier, prompt: 'selecione...'
  #items{:style => (@bill.compra? || @bill.orçamento?) ? 'block' : 'none'}
    %hr/
    = f.simple_fields_for :bill_products do |builder| 
      = render 'bill_product_fields', f: builder
    .row
      .col-md-12
        = link_to_add_fields "novo item", f, :bill_products
    %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'


:javascript 

  $(document).ready(function() {
    
    $("#bill_bill_type").on('change', function(){
      if($(this).val() == "compra" || $(this).val() == "orçamento" ) {
        $("#items").show()
        $(".bill_value").hide()
      } else {
        $("#items").hide()
        $(".bill_value").show()
      }
    });
  });