= simple_form_for(@project) do |f|
  = f.error_notification

  .row
    .col-md-6
      = f.association :project_category, prompt: 'selecione a categoria...'
    .col-md-6
      = f.input :priority, as: 'select', collection: Project.priorities.keys.to_a, prompt: 'selecione...'
  .row
    .col-md-12
      = f.input :name
  .row
    .col-md-12
      = f.input :description
  .row
    .col-md-4
      = f.input :local
    .col-md-4
      = f.input :geolocation
    .col-md-4
      = f.association :responsible, prompt: 'selecione...'
  .row
    .col-md-12
      = f.input :observation
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
