.row
  - @projects.each do |project|
    .col-md-3
      %section.panel
        %header.panel-heading
          %b= project.project_category.name if project.project_category.present?
          %span.tools.pull-right
            = link_to "", edit_project_path(project), class: 'btn-xs fa fa-cog'
            = link_to "", project_path(project),method: :delete,  class: 'btn-xs fa fa-times'

        .panel-body
          .row
            .col-md-12
              %h1
                %b= project.name
              %h5
                = project.description
          %hr/
          .row
            .col-md-12
              %b= link_to "Gerênciar Obra", project_path(project), class: 'btn btn-success btn-sm'
              %b= link_to "Gerênciar Caixa", project_project_finances_path(project), class: 'btn btn-warning btn-sm'
      