.row
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.orange
        %i.fa.fa-gavel
      .mini-stat-info
        %span= number_to_currency(@pays.sum(:value), unit: "R$", separator: ",", delimiter: "") if @pays.present?
        Contas à pagar
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.tar
        %i.fa.fa-tag
      .mini-stat-info
        %span= number_to_currency(@receipts.sum(:value), unit: "R$", separator: ",", delimiter: "") if @receipts.present?
        Contas à receber
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.pink
        %i.fa.fa-money
      .mini-stat-info
        %span= number_to_currency((@project_finance.sum(:value).to_f - @project_funds.sum(:value).to_f), unit: "R$", separator: ",", delimiter: "") if @project_finance.present? &&  @project_funds.present?
        Saldo em Caixa 
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.green
        %i.fa.fa-eye
      .mini-stat-info
        %span= number_to_currency(@project_funds.sum(:value), unit: "R$", separator: ",", delimiter: "") if @project_funds.present?
        Gastos do Caixa
.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        Últimas Contas À PAGAR Lançadas
        %span.tools.pull-right
          %a.fa.fa-cog{:href => "javascript:;"}
      .panel-body
        %table.table
          %thead
            %tr
              %th #
              %th Título
              %th Fornecedor
              %th Vencimento
              %th valor
              %th Status
          %tbody
            - @pays.each_with_index do |p, i|
              %tr
                %td.col-md-1= i + 1
                %td.col-md-4= p.name
                %td.col-md-4= link_to p.supplier.name, project_supplier_path(project_id: p.project, id: p.supplier) if p.supplier.present?
                %td.col-md-2= p.deadline.strftime('%d/%m/%Y')
                %td.col-md-2
                  %span.label.label-info
                    = number_to_currency(p.value, unit: "R$", separator: ",", delimiter: "")
                %td.col-md-1
                  - if p.status
                    %span.label.label-success
                      PAGO
                  - else
                    %span.label.label-danger
                      Não pago
          
  .col-sm-6
    %section.panel
      %header.panel-heading
        Últimos Lançamentos em caixa
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Título
              %th Fornecedor
              %th Data de lançamento
              %th Valor
          %tbody
            - @project_funds.each_with_index do |f,i|
              %tr
                %td.col-md-1= i + 1
                %td.col-md-3= f.name
                %td.col-md-3= link_to f.supplier.name, project_supplier_path(project_id: f.project, id: f.supplier) if f.supplier.present?
                %td.col-md-2= f.created_at.strftime('%d/%m/%Y')
                %td.col-md-1
                  %span.label.label-info
                    = number_to_currency(f.value, unit: "R$", separator: ",", delimiter: "")
.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        Últimos Abastecimento de veículos
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table
          %thead
            %tr
              %th #
              %th Veículo
              %th Posto de abastecimento
              %th Valor Total
          %tbody
            - @fuels.each_with_index do |f, i|
              %tr
                %td= i + 1
                %td= f.vehicle.name
                %td= link_to f.supplier.name, project_supplier_path(project_id: f.project, id: f.supplier) if f.supplier.present?
                %td= number_to_currency(f.fuel_lt * f.fuel_price_lt)

  .col-sm-6
    %section.panel
      %header.panel-heading
        Últimos uploads da obra
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Título
              %th Data
              %th Arquivo
          %tbody
          - @uploads.each_with_index do |u, i|
            %tr
              %td= i + 1 
              %td= u.name
              %td= u.created_at.strftime('%d/%m/%Y')
              %td= link_to "Baixar", u.file_path.url
  