= simple_form_for(@bill_category) do |f|
  = f.error_notification

  .row
    .col-md-12
      = f.input :name
  .row
    .col-md-2
      = f.input :status, as: :select, include_blank: false
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
