= simple_form_for([@project, @pay]) do |f|
  = f.error_notification

  .row
    .col-md-12
      = f.input :name
  .row
    .col-md-4
      = f.association :bill_category, prompt: 'selecione...'
    .col-md-2
      = f.input :deadline, as: 'string', input_html: { class: 'date', :value => (@pay.deadline.nil?) ? nil : localize(f.object.deadline) }
    .col-md-2
      = f.input :value, as: :string, input_html: { class: 'coin_mask'}
  .row
    .col-md-6
      = f.input :description
    .col-md-6
      = f.input :observation
  .row
    .col-md-6
      = f.association :supplier, prompt: 'selecione...'
    .col-md-4
      = link_to "<b>ARQUIVO DE UPLOAD ATUAL - Clique aqui</b><br/>".html_safe, @pay.archive.url, { target: '_blank'} if @pay.archive.present?
      = f.input :archive, as: 'file'
  %hr/
  .row
    .col-md-12
      = f.input :privilege_id, as: :check_boxes, collection: User.privileges
  %hr/
  .row
    .col-md-2
      = f.input :status, as: 'select', prompt: 'selecione...'
  .info_payment{style: (@pay.status) ? "display:block;" : "display:none;"}
    .row
      .col-md-2
        = f.input :date_payment, as: 'string', input_html: { class: 'date', value: (@pay.date_payment.present?) ? localize(@pay.date_payment) : nil }
      .col-md-2
        = f.input :number_note
      .col-md-2
        = f.input :note_payment, as: 'file'
    .row
      .col-md-6
        = f.input :observation_payment
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'


:javascript

  $(document).ready(function() {
    $("#pay_status").on('change', function() {
      if($(this).val() == 'true') {
        $('.info_payment').show()
      } else {
        $('.info_payment').hide()
      }

    })
  })