.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Filtro
      .panel-body
        .row
          .col-md-12
            = simple_form_for :search, url: project_pays_path, :method => 'get' do |f|
              .col-md-2
                = f.label "Data inicial"
                = f.input :start_date, label:false, as: :string, input_html: { class: 'date', value: params[:search].present? ? params[:search][:start_date] : @begin_month}
              .col-md-2
                = f.label "Data final"
                = f.input :end_date, label:false, as: :string, input_html: { class: 'date', value: params[:search].present? ? params[:search][:end_date] : @end_month}
              .col-md-2{style: 'margin-top: 23px'}
                = f.submit "Filtrar Resultados", class: 'btn btn-success btn-sm'
.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        %b
          Contas
        = link_to '<b>Nova conta</b>'.html_safe, new_project_pay_path(@project), class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.table-striped.general-table.datatable.table-condensed.datatable
          %thead
            %tr
              %th
                Status
              %th
                Nome
              %th
                Vencimento
              %th
                Pagamento
              %th
                Valor
              %th
                Nota Comp.
              %th
                Nota Pag.
              %th
                Ações
          %tbody
            - @pays.each do |bill|
              %tr
                %td.col-md-1
                  - if bill.deadline < Date.today && !bill.status
                    %span.label.label-danger
                      Vencida
                  - elsif bill.status
                    %span.label.label-success
                      Pago
                  - else
                    %span.label.label-success
                      À vencer
                %td.col-md-3
                  = bill.name
                %td.col-md-1
                  %span.label.label-info
                    = bill.deadline.strftime('%d/%m/%Y')
                %td.col-md-1
                  - if bill.date_payment.present?
                    %span.label.label-success
                      = bill.date_payment.strftime('%d/%m/%Y')
                %td.col-md-1
                  %span.label.label-warning
                    = number_to_currency bill.value
               
                %td.col-md-2
                  - if bill.archive.present?
                    = link_to "<b>BAIXAR</b>".html_safe, bill.archive.url, { target: '_blank'}
                %td.col-md-1
                  - if bill.note_payment.present?
                    = link_to "<b>BAIXAR</b>".html_safe, bill.note_payment.url, { target: '_blank'}
                %td.col-md-3
                  = link_to 'editar', edit_project_pay_path(project_id: @project, id: bill), class: 'btn btn-info btn-sm'
                  = link_to 'remover', project_pay_path(project_id: @project, id: bill), :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-sm'