.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Escritórios de apoio
        = link_to 'Novo Escritório de suporte', new_office_support_path, class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.general-table.datatable
          %thead
            %tr
              %th.col-md-2
                Nome
              %th.col-md-2
                Cidade/Estado
              %th.col-md-2
                Responsável
              %th.col-md-2
                Telefone
              %th.col-md-2
                E-mail
              %th.col-md-2
                Ações
          %tbody
            - @office_supports.each do |office_support|
              %tr
                %td.col-md-2
                  =office_support.name
                %td.col-md-2
                  = "#{office_support.city}/#{office_support.state}"
                %td.col-md-2
                  =office_support.responsible.name if office_support.responsible.present?
                %td.col-md-2
                  =office_support.telphone
                %td.col-md-2
                  =office_support.email
                %td.col-md-3
                  = link_to 'Editar', edit_office_support_path(office_support), class: 'btn btn-info btn-xs'
                  = link_to 'Remover', office_support, :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-xs'