= simple_form_for(@project_fund) do |f|
  = f.error_notification

  .row
    .col-md-12
      = f.association :project
      = f.input :value
      = f.input :date
      = f.input :month
      = f.input :year
      = f.input :title
      = f.input :description
      = f.input :observations
      = f.input :status

  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
