%p#notice= notice

%p
  %b Project:
  = @project_fund.project
%p
  %b Value:
  = @project_fund.value
%p
  %b Date:
  = @project_fund.date
%p
  %b Month:
  = @project_fund.month
%p
  %b Year:
  = @project_fund.year
%p
  %b Title:
  = @project_fund.title
%p
  %b Description:
  = @project_fund.description
%p
  %b Observations:
  = @project_fund.observations
%p
  %b Status:
  = @project_fund.status

= link_to 'Edit', edit_project_fund_path(@project_fund)
\|
= link_to 'Back', project_funds_path
