.row
  .col-md-12
    .panel
      .panel-body
        %b.title
          %h1= "<b>Caixa</b> - #{@project_base.name}".html_safe 
.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Repasses 
        = link_to '<b>Adicionar caixa</b>'.html_safe, new_project_project_finance_path, class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.general-table.datatable
          %thead
            %tr
              %th Tipo
              %th Título
              %th Descrição
              %th Valor
              %th Data
              %th Status
              %th Ações

          %tbody
            - @project_finances.each do |p|
              %tr
                %td
                  %span.label.label-success
                    = p.finance_type
                %td= p.title
                %td= p.description
                %td= number_to_currency p.value
                %td= p.date.strftime('%d/%m/%Y')
                %td= (p.status) ? "efetivado" : "pendente"
                %td 
                  = link_to 'Editar', edit_project_project_finance_path(project_id: @project_base, id: p), class: 'btn btn-info btn-xs'
                  = link_to 'Remover', project_project_finance_path(project_id: @project_base, id: p), :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-xs'