.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Fornecedores
        = link_to '<b>Novo Fornecedor</b>'.html_safe, new_project_supplier_path(@project), class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.general-table.datatable
          %thead
            %tr
              %th.col-md-2
                Nome
              %th.col-md-2
                CNPJ
              %th.col-md-2
                Local
              %th.col-md-2
                Contato
              %th.col-md-2
                Telefones
              %th.col-md-2
                Ações
          %tbody
            %tr
              - @suppliers.each do |supplier|
                %tr
                  %td= supplier.name
                  %td= supplier.cnpj
                  %td= "#{supplier.city}/#{supplier.state}"
                  %td= supplier.contact_name
                  %td= "#{supplier.telphone} / #{supplier.telphone_optional}"
                  %td.col-md-3
                    = link_to 'Editar', edit_project_supplier_path(project_id: @project, id: supplier), class: '  btn btn-info btn-xs'
                    = link_to 'Remover', project_supplier_path(project_id: @project, id: supplier), :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-xs'