.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        FORNECEDOR
        = link_to '<b>Voltar</b>'.html_safe, project_path(@project), class: 'btn btn-success btn-xs pull-right'
      .panel-body

        = simple_form_for([@project, @supplier]) do |f|
          = f.error_notification
        
          .row
            .col-md-6
              = f.association :supplier_category,  input_html: {disabled: 'disabled'}
          %hr/
          .row
            .col-md-6
              = f.input :name, input_html: {disabled: 'disabled'}
            .col-md-2
              = f.input :cnpj, input_html: {disabled: 'disabled'}
            .col-md-2
              = f.input :state_number, input_html: {disabled: 'disabled'}
            .col-md-2
              = f.input :city_number, input_html: {disabled: 'disabled'}
          .row
            .col-md-4
              = f.input :city, input_html: {disabled: 'disabled'}
            .col-md-2
              = f.input :state, input_html: {disabled: 'disabled'}
            .col-md-2
              = f.input :cep, input_html: {disabled: 'disabled'}
            .col-md-4
              = f.input :supplier_importance, as: 'select', collection: Supplier.supplier_importances.keys.to_a, prompt: 'selecione...', input_html: {disabled: 'disabled'}
          %hr/
          .row
            .col-md-3
              = f.input :telphone, input_html: {disabled: 'disabled'}
            .col-md-3
              = f.input :telphone_optional, input_html: {disabled: 'disabled'}
            .col-md-3
              = f.input :email, input_html: {disabled: 'disabled'}
            .col-md-3
              = f.input :email_optional, input_html: {disabled: 'disabled'}
          .row
            .col-md-3
              = f.input :contact_name, input_html: {disabled: 'disabled'}
            .col-md-3
              = f.input :contact_telphone, input_html: {disabled: 'disabled'}
            .col-md-3
              = f.input :contact_email, input_html: {disabled: 'disabled'}
          .row
            .col-md-12
              = f.input :observations, input_html: {disabled: 'disabled'}
