%header.header.fixed-top.clearfix
  / logo start
  .brand
    = link_to image_tag("henz_logo.jpg", width: 170, height: 80), root_path
  .horizontal-menu.navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li
        = link_to "início", root_path
      %li.dropdown
        %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
          Obras
          %b.fa.fa-angle-down
        %ul.dropdown-menu
          %li
            = link_to "Visualizar Obras", projects_path
          %li
            = link_to "Nova obra", new_project_path
          %li
            = link_to "Categorias", project_categories_path
          %li.divider
          - @nav_projects.each do |p|
            %li
              = link_to p.name, project_path(p)

      %li.dropdown
        %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
          Administração
          %b.fa.fa-angle-down
        %ul.dropdown-menu
          %li
            = link_to "Usuários", users_path
          %li.divider
          %li
            = link_to "Funcionários", staffs_path
          %li
            = link_to "Setores", sectors_path
          %li
            = link_to "Cargos", jobs_path
          %li.divider
          %li
            = link_to "Serviços de veículos", vehicle_services_path
          %li
            = link_to "Categorias de veículos", vehicle_categories_path
          %li
            = link_to "Categorias de fornecedores", supplier_categories_path
          %li
            = link_to "Categorias de contas", vehicle_categories_path
          %li.divider
          %li
            = link_to "Escritórios", offices_path
          %li
            = link_to "Pontos de apoio", office_supports_path
     
  .horizontal-menu.navbar-collapse.collapse.pull-right
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
          = current_user.email
          %b.fa.fa-angle-down
        %ul.dropdown-menu
          %li
            = link_to "Trocar Senha", destroy_user_session_path, method: :delete
          %li
            = link_to "Sair", destroy_user_session_path, method: :delete