%aside
  #sidebar.nav-collapse
    / sidebar menu start
    .leftside-navigation{:style => "overflow: hidden; outline: none;", :tabindex => "5000"}
      %ul#nav-accordion.sidebar-menu
        %li
          = link_to "<i class='fa fa-dashboard'></i><span>Dashboard</span>".html_safe
        %li.sub-menu.dcjq-parent-li
          %a.dcjq-parent{:href => "javascript:;"}
            %i.fa.fa-laptop
            %span Contas
            %span.dcjq-icon
          %ul.sub{:style => "display: none;"}
            %li= link_to "nova conta", new_project_bill_path(@project)
            %li= link_to "gerenciar", project_bills_path(@project)
            %li= link_to "categorias", project_bill_categories_path(@project)
            %li= link_to "relatórios (definir)"
        %li.sub-menu.dcjq-parent-li
          %a.dcjq-parent{:href => "javascript:;"}
            %i.fa.fa-book
            %span Cotações
            %span.dcjq-icon
          %ul.sub{:style => "display: none;"}
            %li= link_to "nova cotação", new_project_quotation_path(@project)
            %li= link_to "gerenciar", project_quotations_path(@project)
            %li= link_to "relatórios (definir)"
        %li.sub-menu.dcjq-parent-li
          %a.dcjq-parent{:href => "javascript:;"}
            %i.fa.fa-th
            %span Veículos
            %span.dcjq-icon
          %ul.sub{:style => "display: none;"}
            %li= link_to "gerenciar", project_vehicles_path(@project)
            %li= link_to "consumo", project_fuel_expenses_path(@project)
            %li.divider
            %li= link_to "postos de abastecimento", project_gas_stations_path(@project)
        %li.sub-menu.dcjq-parent-li
          %a.dcjq-parent{:href => "javascript:;"}
            %i.fa.fa-envelope
            %span Arquivos
            %span.dcjq-icon
          %ul.sub{:style => "display: none;"}
            %li= link_to "gerenciar", project_archives_path(@project)
        %li.sub-menu.dcjq-parent-li
          %a.dcjq-parent{:href => "javascript:;"}
            %i.fa.fa-glass
            %span Relatórios
            %span.dcjq-icon
          %ul.sub{:style => "display: none;"}
            %li= link_to "definir"