!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Henz Construções
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %section#container
      = render 'layouts/partials/nav' if user_signed_in?
      = render 'layouts/partials/sidebar' if @project.present? && !@project.new_record?
      - if @project.present? && !@project.new_record?
        %section#main-content 
          %section.wrapper
            .panel
              .panel-body
                %h1
                  %b.title
                    = @project.name 
            = yield
      - else
        .container
          %section.wrapper
            = yield
