!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gestão Henz
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %section#container
      = render 'layouts/partials/nav' if user_signed_in?
      = render 'layouts/partials/sidebar' if @project_context
      - if @project_context
        %section#main-content 
          %section.wrapper
            .panel
              .panel-body
                %h3
                  Projeto 
                  %hr/
                  %b.title
                    = @project.name 
            %hr/
            = yield
      - else
        .container
          %section.wrapper
            = yield
